<!doctype html>
<html>
    <head>
        <title>Nodejs is Cool.</title>
        <link href='/static/style.css' type='text/css' rel='stylesheet'>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>  
    </head>
    <body>
        <nav>
            <p class='logo'>NodeJS</p>
            <a href='/about' class='about'>About</a>
            <a href='/get-question' class='questions'>Questions</a>
            <a href='/ask' class='ask'>Ask</a>
            <a href='/' class='home'>Home</a>
        </nav>
        

