<!doctype html>
<html>
    <head>
        <title>Nodejs is Cool.</title>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link href='style.css' type='text/css' rel='stylesheet'>
    </head>
    <body>
        <nav>
            <p class='logo'>NodeJS</p>
            <a href='/index' class='home'>Home</a>
            <a href='/about' class='about'>About</a>
        </nav>
        

