<% include ./header %>

<div class='container mt-4'>

  <h1>Log In</h1>

  <form action='/login' method='post' enctype="application/x-www-form-urlencoded" class='mt-3'>
    <div class="form-group">
      <label for="login-email">Email address:</label>
      <input type="email" class="form-control" name='email' id="login-email" placeholder="Email" required>
      <div class="alert alert-danger d-none" role="alert" id='alert-login-email'></div>
    </div>

    <div class="form-group">
      <label for="login-pw">Password:</label>
      <input type="password" class="form-control" name='password' id="login-password" placeholder="Password" required>
      <div class="alert alert-danger d-none" role="alert" id='alert-login-password'></div>
    </div>

    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name='remember'>
        Remember Me
      </label>
    </div>
    <button type="submit" class="btn btn-info mt-3" id='login'>Log In</button>
  </form>

</div>

<script>


let emailRegex = /^\w+[\w-\.]*\@\w+((-\w+)|(\w*))\.[a-z]{2,3}$/;
let loginEmail = document.getElementById('login-email');
let loginPassword = document.getElementById('login-password');
let alertLoginEmail = document.getElementById('alert-login-email');
let alertLoginPassword = document.getElementById('alert-login-password');
let loginButton = document.getElementById('login');
let setText = function(div, text) {
  div.classList.remove('d-none');
  div.innerHTML = text;
};

//Email validation: Check if it is empty or not follow the right pattern
loginEmail.addEventListener('blur', (event) => {
  if (loginEmail.value.length == 0) {
    setText(alertLoginEmail, 'This Field is required.');
  }
  else if (!emailRegex.test(loginEmail.value)) {
    setText(alertLoginEmail, 'Invalid Email Address.');
  }
  else {
    alertLoginEmail.classList.add('d-none');
  }
}, false);

//Email validattion: Click 'Log in' button send ajax instead of normal request
loginButton.addEventListener('click', (event) => {
  event.preventDefault();
  let xhr = new XMLHttpRequest();
  let url = '/login';
  xhr.open('POST', url, true);
  xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xhr.onreadystatechange = function() {
    if (xhr.readyState == 4 && xhr.status == 200) {
      if (xhr.responseText == 'wrong password') {
        setText(alertLoginPassword, 'Wrong Password.');
      }
      else if (xhr.responseText == 'email doesnt exist') {
        setText(alertLoginEmail, 'Email Doesnt Exist.');
      }
      else if (xhr.responseText == 'login success') {
        alertLoginPassword.classList.add('d-none');
        window.location.href = 'http://localhost:8000';
      }
    }
  };
  xhr.send(`email=${loginEmail.value}&password=${loginPassword.value}`);
}, false);

</script>

<% include ./footer %>