<% include ./header %>

<div class='container mt-4'>
  <div class='row'>
    <div class='col-md-3'></div>
    <div class='col-md-6'>
      <h1>Register</h1>

      <form action='/register' method='post' enctype="application/x-www-form-urlencoded" class='mt-3'>
        <div class="form-group">
          <label for="register-email">Email address:</label>
          <input type="email" value='<%= email %>'class="form-control" name='email' id="register-email" placeholder="Email">
          <div class='alert alert-danger d-none' id='alert-email'></div>
          <% if (emailExist) { %>
          <div class='alert alert-danger' id='alert-email2'>Email has been used.</div>
          <% } %>
          <% if (emailEmpty) { %>
          <div class='alert alert-danger' id='alert-email2'>Email is empty.</div>
          <% } %>
        </div>

        <div class="form-group">
          <label for="register-username">Username:</label>
          <input type="text" value='<%= username %>' class="form-control" name='username' id="register-username" placeholder="Username">
          <div class='alert alert-danger d-none' id='alert-username'></div>
          <% if (usernameExist) { %>
          <div class='alert alert-danger' id='alert-username2'>Username doesn't exist.</div>
          <% } %>
          <% if (usernameEmpty) { %>
          <div class='alert alert-danger' id='alert-username2'>Username is empty.</div>
          <% } %>
        </div>

        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name='remember'>
            I agree to sell my soul.
          </label>
          <% if (rememberEmpty) { %>
          <div class='alert alert-danger'>U need to agree to sell your sould.</div>
          <% } %>
        </div>

        <button type="submit" class="btn btn-info mt-3" id='register'>Register</button>

      </form>
    </div>
    <div class='col-md-3'></div>
  </div>
</div>

<script>
let email = document.getElementById('register-email');
let username = document.getElementById('register-username');
let alertEmail = document.getElementById('alert-email');
let alertUsername = document.getElementById('alert-username');
let alertEmail2 = document.getElementById('alert-email2');
let alertUsername2 = document.getElementById('alert-username2');
let emailRegex = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/;
let setText = (div, text) => {
  div.classList.remove('d-none');
  div.innerHTML = text;
};

email.addEventListener('blur', (event) => {
  if (alertEmail2) {
    alertEmail2.classList.add('d-none');
  }

  if (email.value.length == 0) {
    setText(alertEmail, 'Email is empty.');
  }
  else if (!emailRegex.test(email.value)) {
    setText(alertEmail, 'Invalid email address.');
  }
  else {
    alertEmail.classList.add('d-none');
    let xhr = new XMLHttpRequest();
    xhr.open('GET', '/register/check-email/' + email.value, true);
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4 && xhr.status == 200) {
        if (xhr.responseText == 'exist') {
          setText(alertEmail, 'This email has been used.');
        }
        else {
          alertEmail.classList.add('d-none');
        }
      }
    };
    xhr.send();
  }
}, false);

username.addEventListener('blur', (event) => {
  if (alertUsername2) {
    alertUsername2.classList.add('d-none');
  }

  if (username.value.length == 0) {
    setText(alertUsername, 'Username is empty.');
  }
  else {
    let xhr = new XMLHttpRequest();
    xhr.open('GET', '/register/check-username/' + username.value, true);
    xhr.onreadystatechange = function() {
      if (xhr.readyState == 4 && xhr.status == 200) {
        if (xhr.responseText == 'exist') {
          setText(alertUsername, 'This username has been used.');
        }
        else {
          alertUsername.classList.add('d-none');
        }
      }
    };
    xhr.send();
  }
}, false);

</script>


<% include ./footer %>