* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Courier New, Courier, monospace;
}

/* Navbar and /index style */
nav {
    width: 100%;
    height: 80px;
    background-color: deepskyblue;
}

nav p.logo {
    width: 25%;
    float: left;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-top: 12px;
}

nav a {
    width: 20%;
    display: block;
    float: right;
    font-size: 1.5rem;
    text-align: center;
    text-decoration-line: none;
    color: white;
    margin-top: 30px;
}

nav a:hover {
    border-bottom: 2px solid white;
}

div.container {
    width: 80%;
    height: 250px;
    color: white;
    background-color: crimson;
    border-radius: 10px;
    margin: 0 auto;
}

div.container h2 {
    text-align: center;
    position: relative;
    top: 20%;
    font-size: 3rem;
}

div.container p {
    text-align: center;
    position: relative;
    top: 30%;
}

/* /about style*/
div.cv {
    width: 700px;
    height: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 30% 70%; 
}


div.cv div.header {
    grid-column-start: 1;
    grid-column-end:3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 100%;
    justify-self: stretch;
    background-color: #464a51;
    color: #ffffff;
}

div.cv div.header img {
    border: 1px solid white;
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 120px;
    height: 120px;
    align-self: center;
    border-radius: 50%;
    margin-left: 130px;
}

div.cv div.header div.name {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    align-self: center;
}

div.cv aside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: stretch;
    background-color: #acadaf;
    color: #3b3c3d;
}

div.cv main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: stretch;
    background-color: #cfd0d3;
    color: #3b3c3d;
}

div.cv aside > div > h3 {
    letter-spacing: 2px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

table {
    margin: auto;
}

td {
    width: 150px;
    height: 35px;
    vertical-align: middle;
}

div.cv main h2 {
    letter-spacing: 2px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

div.cv main ul > li {
    list-style: none;
    display: block;
    height: 35px;
    padding-left: 70px;
}
