/* question.ejs style */
#question a {
    display: block;
}

#like {
    width: 100px;
    float: left;
    margin-left: 20%;
}

#dislike {
    width: 100px;
    float: right;
    margin-right: 20%;
}

#other {
    width: 30%;
    margin: 0 auto;
}