<p>Welcome, {{ name }}</p>
<form method='post' action='/index' encType="multipart/form-data">
    <lable for='name'>Photo:</lable>
    <input type='file' name='photo' id='name'>
    <input type='submit'>
</form>